@use '../variables' as *;

.error-indicator {
    padding: 3rem;
    text-align: center;
    

    text-align: center;
    margin: 2rem auto;

    .title {
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $bsDangerColor;
    }
}


