@use '../variables' as *;

.loading-indicator {
    text-align: center;
    margin: 5rem auto;
    color: $bsPrimaryColor;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}
