@use '../variables' as *;

.table-wrapper {
    table {
        thead,
        tbody {
            border: 1px solid $bsBorderColor;
        }

        thead th,
        tbody td {
            padding: 1.25rem;
            padding-left: 1rem
        }

        thead {
            background-color: $bsCardHeaderColor;

            th button.header-wrapper {
                border: 0;
                background-color: inherit;
                color: $defaultFontColor;
                display: flex;
                align-items: center;
                gap: 0.3rem;
                cursor: initial;

                &:not(:disabled):hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                svg {
                    height: 0.8rem;
                }
            }
        }

        tbody td button {
            min-width: 100%;
        }
    }

    .no-data-message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        padding: 3rem;
        text-align: center;
        font-size: 1.5rem;
        color: #636363;
    }
}