@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$defaultFontColor: #213547;
$bsPrimaryColor: $primary;
$bsBorderColor: $border-color;
$bsCardHeaderColor: $card-cap-bg;
$bsDangerColor: $danger;

@mixin cardHeader {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .header-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}